<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Sharibobo: The Ultimate File Sharing Service</title>
  </head>
  <body style="font-family: 'Ubuntu', sans-serif; padding-top: 100px">
    <% if (locals.fileLink != null){%>
    <div style="margin-bottom: 1rem">
      Your File uploaded
      <a href="<%= locals.fileLink%>"><%= locals.fileLink%></a>
    </div>
    <% } %>
    <div>
      <form
        action="/upload"
        style="
          display: grid;
          gap: 2rem;
          grid-template-columns: auto 1fr;
          max-width: 500px;
          margin: 10px auto;
        "
        method="post"
        enctype="multipart/form-data"
      >
        <label for="file">Browse your file:</label>
        <input type="file" id="file" name="file" required />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
        <div style="display: flex; justify-content: space-between">
          <button style="" type="submit">Share</button>
          <button style="justify-content: space-between" type="reset">
            Cancel
          </button>
        </div>
      </form>
    </div>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
    </style>
  </body>
</html>
